<%layout("layouts/boilerplate")%>
<link rel="stylesheet" href="/stylesheets/verify.css">

<div class="content">
    <% if(notFound) { %>
        <div class="notFound">
            <div class="header">
                <h2>User Not Found!</h2>
            </div>
            <div class="close">
                <img src="/images/close.png" alt="">
            </div>
        </div>
    <%} else {%>
    <div class="header">
        <h3>Information about the Person Entering the Facility</h3>
    </div>
    <div class="form-container">
        <%if (isResident) {%>
            <form action="/security/verify/resident" class="needs-validation" novalidate method="POST">
                <div class="mb-3 row">
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon3">Resident's Name</span>
                        <input type="text" class="form-control" id="basic-url" name="name" readonly aria-describedby="basic-addon3 basic-addon4" value="<%=user.name%>">
                    </div>
                </div>

                <div class="mb-3 row">
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon3">Identification Code</span>
                        <input type="text" class="form-control" id="basic-url" name="ic" readonly aria-describedby="basic-addon3 basic-addon4" value="<%=user.ic%>">
                    </div>
                </div>

                <div class="mb-3 row">
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon3">Phone number:</span>
                        <input type="text" class="form-control" id="basic-url" name="phone_number" readonly aria-describedby="basic-addon3 basic-addon4" value="<%=user.phone_number%>">
                    </div>
                </div>

                <div class="mb-3 row">
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon3">Email:</span>
                        <input type="text" class="form-control" id="basic-url" name="email" readonly aria-describedby="basic-addon3 basic-addon4" value="<%=user.email%>">
                    </div>
                </div>

                <div class="mb-3 row">
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon3">Address:</span>
                        <input type="text" class="form-control" id="basic-url" name="address" readonly aria-describedby="basic-addon3 basic-addon4" value="<%=user.address%>">
                    </div>
                </div>

                <div class="mb-3 row">
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon3">SIC</span>
                        <input type="text" class="form-control" id="basic-url" name="sic" readonly aria-describedby="basic-addon3 basic-addon4" value="<%=security_user_sic%>">
                    </div>
                </div>

                <div class="mb-3 row">
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon3">Gate Number</span>
                        <input type="text" class="form-control" id="basic-url" name="gate_number" readonly aria-describedby="basic-addon3 basic-addon4" value="<%=gate_number%>">
                    </div>
                </div>

                <div class="mb-3 row">
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon3">Vehicle Number</span>
                        <input type="text" class="form-control" id="basic-url" name="vehicle_number" aria-describedby="basic-addon3 basic-addon4" placeholder="AB12AB1234">
                    </div>
                </div>

                <div class="centered">
                    <div class="button-container">
                        <input type="radio" class="btn-check" name="isEntry" value="true" id="option5" autocomplete="off" checked>
                        <label class="btn" for="option5">Entering</label>
                        <input type="radio" class="btn-check" name="isEntry" value="false" id="option6" autocomplete="off">
                        <label class="btn" for="option6">Exiting</label>
                    </div>
                </div>

                <div class="centered">
                    <div class="choice">
                        <input type="radio" class="btn-check" name="isApproved" id="success-outlined" value="true" autocomplete="off">
                        <label class="btn btn-outline-success" for="success-outlined">Allow</label>
                        <input type="radio" class="btn-check" name="isApproved" id="danger-outlined" value="false" autocomplete="off" checked>
                        <label class="btn btn-outline-danger" for="danger-outlined">Reject</label>
                    </div>
                </div>

                <div class="centered">
                    <div>
                        <button type="submit" class="btn-my btn">Submit</button>
                    </div>
                </div>
            </form>

        <%} else {%>
            <form action="/security/verify/visitor" class="needs-validation" novalidate method="POST">
                <div class="mb-3 row">
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon3">Visitor's Name</span>
                        <input type="text" class="form-control" id="basic-url" name="name" readonly aria-describedby="basic-addon3 basic-addon4" value="<%=user.name%>">
                    </div>
                </div>

                <div class="mb-3 row">
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon3">Phone number:</span>
                        <input type="text" class="form-control" id="basic-url" name="phone_number" readonly aria-describedby="basic-addon3 basic-addon4" value="<%=user.phone_number%>">
                    </div>
                </div>

                <div class="mb-3 row">
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon3">SIC</span>
                        <input type="text" class="form-control" id="basic-url" name="sic" readonly aria-describedby="basic-addon3 basic-addon4" value="<%=security_user_sic%>">
                    </div>
                </div>

                <div class="mb-3 row">
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon3">Gate Number</span>
                        <input type="text" class="form-control" id="basic-url" name="gate_number" readonly aria-describedby="basic-addon3 basic-addon4" value="<%=gate_number%>">
                    </div>
                </div>

                <div class="mb-3 row">
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon3">Vehicle Number</span>
                        <input type="text" class="form-control" id="basic-url" name="vehicle_number" readonly aria-describedby="basic-addon3 basic-addon4" value="<%=user.temp_data.vehicle_number%>">
                    </div>
                </div>

                <div class="mb-3 row">
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon3">Concerned With</span>
                        <input type="text" class="form-control" id="basic-url" name="concerned_with" readonly aria-describedby="basic-addon3 basic-addon4" value="<%=user.temp_data.concerned_with%>">
                    </div>
                </div>

                <div class="mb-3 row">
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon3">Reason</span>
                        <input type="text" class="form-control" id="basic-url" name="reason" readonly aria-describedby="basic-addon3 basic-addon4" value="<%=user.temp_data.reason%>">
                    </div>
                </div>

                <div class="mb-3 row">
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon3">Tenure (in hours)</span>
                        <input type="text" class="form-control" id="basic-url" name="tenure" readonly aria-describedby="basic-addon3 basic-addon4" value="<%=user.temp_data.tenure%>">
                    </div>
                </div>

                <div class="choice">
                    <input type="radio" class="btn-check" name="isApproved" id="success-outlined" value="true" autocomplete="off">
                    <label class="btn btn-outline-success" for="success-outlined">Allow</label>
                    <input type="radio" class="btn-check" name="isApproved" id="danger-outlined" value="false" autocomplete="off" checked>
                    <label class="btn btn-outline-danger" for="danger-outlined">Reject</label>
                </div>

                <div class="centered">
                    <div>
                        <button type="submit" class="btn-my btn">Submit</button>
                    </div>
                </div>
            </form>
        <%}%>
    </div>
    <%}%>
</div>