<%layout("layouts/boilerplate")%>
<link rel="stylesheet" href="/stylesheets/visitorlog.css">
<div class="page-container">
    <div class="heading-container">
        <h1>Visitor Database</h1>
    </div>
    <div class="table-container">
        <table class="table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Username</th>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Vehicle Number</th>
                <th>Concerned With</th>
                <th>Reason</th>
                <th>Entry Time</th>
                <th>Exit Time</th>
                <th>Tenure</th>
                <th>Gate Number</th>
                <th>SIC</th>
                <th>Approved</th>
            </tr>
            </thead>
            <tbody>
            <% campusData.forEach(person => { %>
                <tr class="<%= person.isExpired ? 'expired' : '' %>">
                    <td><%= person.username %></td>
                    <td><%= person.name %></td>
                    <td><%= person.phone_number %></td>
                    <td><%= person.vehicle_number %></td>
                    <td><%= person.concerned_with %></td>
                    <td><%= person.reason %></td>
                    <td><%= person.entry_time %></td>
                    <td><%= person.exit_time %></td>
                    <td><%= person.tenure %></td>
                    <td><%= person.gate_number %></td>
                    <td><%= person.sic %></td>
                    <td><%= person.isApproved ? 'Yes' : 'No' %></td>
                </tr>
            <% }); %>
            </tbody>
        </table>
    </div>
</div>

<script>
        // Reload the page every 7 seconds (7000 milliseconds)
        setInterval(function() {
        location.reload();
    }, 7000);
</script>